.portal_content {
    z-index: 1;
    overflow: auto;
    background-color: #FFF;
    border-radius: 8px;
    padding: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    transition: .2s ease-in;
    position: fixed;
    top: 50%;
    left: 50%;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

/* .portal_content td {
    transition: .3s;
} */

.portal_content td {
    user-select: none;
}

.portal_content.closed {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
}

.portal_overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: gray;
    opacity: .5;
}

.portal_close_btn {
    all: unset;
    cursor: pointer;
    font-size: 24px;
    position: absolute;
    right: 15px;
    top: 15px;
}