::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: rgb(189, 189, 189);
    -webkit-border-radius: 1ex;
    border: 3px solid white;
}

body {
    scrollbar-width: thin;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link {
    color: gray;
}