::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: rgb(189, 189, 189);
    -webkit-border-radius: 1ex;
    border: 3px solid white;
}

.link-secondary {
    transition: .3s;
}

.link-secondary:hover {
    color: #029191 !important;
}

.dropdown-item.active, 
.dropdown-item:active {
    background-color: #029191;
}

body {
    scrollbar-width: thin;
}

.custom-btn {
    color: #029191 !important;
    border-color: #029191 !important;
    
    &:hover {
        background-color: #029191;
        color: #FFFF !important;
    }
}