::-webkit-scrollbar {
    width: 12px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: rgb(189, 189, 189);
    -webkit-border-radius: 1ex;
    border: 3px solid white;
}

::-webkit-scrollbar-corner {
    background: #000;
}

body {
    scrollbar-width: thin;
}