.countries_list img {
    width: 30px;
    margin-right: 10px;
}

.country_values {
    font-size: 12px;
}

.country_values input {
    all: unset;
    padding: 0;
    width: 70px;
}

.country_values input::-webkit-inner-spin-button, 
.country_values input::-webkit-outer-spin-button {  
   opacity: 1;
}